#pie{
    align-content: center;
    text-align: center;
    justify-content: center;
    background-color: rgb(34, 36, 34);
    height: 80px;
    position: absolute;
    bottom: 0;
    width: 100%;

}



#pie h3{
    color: aliceblue;
}